<div class="profile-container">
  <div class="profile-content">
    <%= image_tag('default_profile.png', class: 'profile-image', alt: 'Profile Image') %>
    <h2>ユーザ名</h2>
    <%= link_to "プロフィールを編集", '/profile/edit'%>
  </div>
</div>
