.product-block {
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px 60px;
    text-align: center;
    display: inline-block;
    /* 必要に応じて追加 */
}

.product-block a {
    color: inherit;
    /* リンクのデフォルトの色を継承する */
    text-decoration: none;
    /* リンクの下線を削除する */
}

.field {
    margin-bottom: 15px;
    /* フィールドごとの余白を追加 */
}

.field label {
    display: block;
    /* ラベルをブロック要素に変更し、新しい行に配置 */
    /* margin-bottom: 5px; */
    /* ラベルと入力欄の間に余白を追加 */
}

.product-index-image {
    width: 300px;
    height: 300px;
}